/* Name: Tyler Nguyen
Name of file: 2158383-homework4.css
Date created: 5/1/23
Date last edited: 
Description: Style Sheet for Medical registration webpage for Hw4 */

th {
  font-size: bold;
  font-size: large;
}

img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

h1 {
  font-family: cursive;
  color: rgb(197, 36, 36);
  padding-top: 20px;
}

body {
  background-color: rgba(248, 230, 221, 0.4);
}

.td1 {
  text-align: right;
}

.format {
  background-color: rgb(248, 218, 207);
  width: 50%;
  padding: 20px 20px 20px 20px;
  border-radius: 30px;
}

.reset-button {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  color: rgb(227, 88, 83);
  border-color: rgb(227, 88, 83);
  font-size: 13px;
  font-weight: bold;
  height: 22px;
  width: 60px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.15s, border-width 0.15s;
}

.reset-button:hover {
  background-color: rgb(224, 194, 193);
  border-width: 2px;
}

.submit-button {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  color: rgb(227, 88, 83);
  border-color: rgb(227, 88, 83);
  font-size: 13px;
  font-weight: bold;
  height: 22px;
  width: 60px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.15s, border-width 0.15s;
}

.submit-button:hover {
  background-color: rgb(224, 194, 193);
  border-width: 2px;
}

table.output,
tr.output,
td.output {
  width: 600px;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 218, 207);
  padding: 10px;
  border-spacing: 2px;
  border-radius: 30px;
  color: black;
}

td.outputdata {
  width: 600px;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 10px;
  border-spacing: 2px;
  color: black;
}

.error {
  color: red;
  font-size: 11px;
}

input {
  border: solid 2px transparent;
  border-radius: 5px;
}

input:focus {
  border: solid 1px;
  outline: none;
}

#mname {
  width: 12px;
}

/* Styles for custom alert box */
#alert-box {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#alert-content {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 120px;
  margin: auto;
  margin-top: 15%;
  padding: 20px;
  text-align: center;
}

#alert-content h3 {
  margin-top: 20px;
  font-size: 18px;
}

#close-alert {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  color: rgb(227, 88, 83);
  border-color: rgb(227, 88, 83);
  font-size: 13px;
  font-weight: bold;
  height: 22px;
  width: 60px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.15s, border-width 0.15s;
  margin-top: 20px;
}
/* Styles for custom alert box */

header {
  background-color: rgba(248, 230, 221, 0.4);
  position: sticky;
  top: 0;
  transition: background-color 0.4s ease-in-out;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.98;
}
